<footer class="footer">
  <div class="content has-text-centered">
    <p>
      content © {{ 'now' | date: "%Y" }} pennsylvania anthropomorphics west ●
      <a href="https://gitlab.com/wpafw-paw/wpafw-org/" target="_blank"
        >source code</a
      >
      licensed under
      <a href="https://opensource.org/licenses/mit-license.php" target="_blank"
        >mit</a
      >
    </p>
  </div>
</footer>
