<section
  class="hero is-large is-main has-background-dark-brown"
  style="background-image: url({{site.baseurl}}/assets/img/{{page.banner-image}})"
>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">🐾 WPAFW 2023 is less than 10 months away!</h1>
      <h2 class="subtitle">
        October 6-8, 2023 @ North Park Lodge!
      </h2>
    </div>
  </div>
</section>
